<p>home works!</p>
<div class="container">
  <div class="row">
    <div class="col m4">
      <select id="miselect" [(ngModel)]="communeId">
        {{lists}}
      </select>
    </div>
    <div class="col m4">
      <mat-form-field appearance="outline" >
        <mat-label>Locan Name</mat-label>
        <input type="text" matInput placeholder="Enter your commune" id="nameLocal" name="nameLocal" [(ngModel)]="nameLocal">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <button mat-raised-button color="primary" (click)="search()">Search</button>
  </div>
  <div class="row">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="localName">
        <th mat-header-cell *matHeaderCellDef> Local Name </th>
        <td mat-cell *matCellDef="let pharmacy"> {{pharmacy.localName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="localDirection">
        <th mat-header-cell *matHeaderCellDef> Local Address </th>
        <td mat-cell *matCellDef="let pharmacy"> {{pharmacy.localDirection}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="localPhone">
        <th mat-header-cell *matHeaderCellDef> Local Phone </th>
        <td mat-cell *matCellDef="let pharmacy"> {{pharmacy.localPhone}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="localLat">
        <th mat-header-cell *matHeaderCellDef> Local Latitud </th>
        <td mat-cell *matCellDef="let pharmacy"> {{pharmacy.localLat}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="localLng">
        <th mat-header-cell *matHeaderCellDef> Local Longitud </th>
        <td mat-cell *matCellDef="let pharmacy"> {{pharmacy.localLng}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
